*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    background-position: cover;
    
}
#body{
    background-image: url(images/question-mark-5949781_1280.jpg);
}
h1{
    font-size: 7rem;
    color: white;
    text-align: center;
}
.header{
    font-size: 5rem;
    color:black;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
}

.container{
    background: white;
    
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 40%;
    max-width: 600px;
    margin: 100px auto 0;
}
.div{

}
.btn{
    color: black;
    border: 1.5px solid;
    padding: 5px;
    margin: 5px;
    width: 50%;
    text-align: left;
}
.btn:hover{
    background-color: khaki;
}
.next{
    background-color: lightblue;
    width: 100px;
    padding: 5px;
    margin: 5px;
    display: none;
}
#body-image{
    background-image: url(assets/css/images/congratulation-photo.jpeg);
}
video{
    width:100%;
    height:auto;
    margin-top: 50px;
}
nav{
    background-color: black;
    color:white;
    text-align: center;
    padding: 50px;
    margin: 50px;
}
nav a {
    color:white;
    text-decoration: none;
}

footer{
    text-align: center;

}
