/*this uses all elements on the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style for body and background image and used font-family*/
#body {
    background: url(../images/q-a.jpeg);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
/*style for body by using id*/
#quiz {
    background-color: antiquewhite;
    background-position: center;
    justify-content: center;
    text-align: center;
}
/*centers the header and used sizing*/
header#main {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 10px;
    width: 100%;
}
/*save the h1 size and position*/
h1 {
    font-size: 3rem;
    text-align: center;
}
/*set the size and position for header*/
.header {
    font-size: 4rem;
    color: black;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
/*set the image width,height and position*/
img {
    max-width: 100%;
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 0;
    align-items: center;
    justify-content: center;
}
/*set the white background for the container*/
.container {
    background: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 40%;
    max-width: 600px;
    margin: 1rem auto;
}
/*set the button for styling and set the cursor to indicate for clicking*/
.btn {
    color: black;
    border: 1.5px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
}
/*set the container as a flex box*/
#div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*set the hover over on the button to change the color unless disabled*/
.btn:hover:not([disabled]) {
    background-color: khaki;
}
/*disable button to clicking disabled*/
.btn:disabled {
    cursor: no-drop;
}
/*hide the next buttonand set the color and size*/
.next {
    background-color: lightblue;
    width: 100px;
    padding: 5px;
    margin: 5px;
    display: none;
    align-items: center;
}
/*style for navigation bar with flexbox */
nav {
    color: blue;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}
/*links style*/
nav a {
    color: blue;
    text-decoration: none;
    font-size: 2rem;
}
/*set hoover effect*/
nav a:hover {
    background-color: aliceblue;
    border-radius: 10px;
}
/*form box styling to display nicely*/
#section1 {
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
/*form elements will be in column*/
#section1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*this css from w3schools*/
#myBtn {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 20%;
    height: 10%;
    margin: 20px auto;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
/*style for footer*/
footer {
    text-align: center;
    margin-top: auto;
    align-items: center;
    padding: 40px;
    border: 3px solid black;
    height: 20%;
    margin: 40px;
    justify-content: center;
}
/*style for label, input and button*/
label,
input,
button {
    text-align: center;
    padding: 10px;
    align-items: center;
}

label {
    text-align: center;
}
/*set the colour for right and wrong answer*/
.correct {
    background: green;
}

.incorrect {
    background: red !important;
}


/*media query for mobile*/
@media screen and (max-width:768px) {
    h1 {
        padding: 1rem;
        font-size: 2rem;
    }

    nav {
        margin: 10px;

    }

    nav a {
        font-size: 1em;
    }

    .header {
        font-size: 2rem;
        margin-bottom: 50px;
    }

    #question {
        margin-top: 50px;
    }

    .container {
        width: 95%;
        padding: 1rem;
    }

    .btn {
        width: 50%;
        font-size: 1rem;
    }

    #section1 {
        max-width: 95%;
        height: auto;
    }

    .paragraph {
        font-size: 1rem;
        line-height: 1;
    }

    header#main {
        margin-bottom: 1rem;
    }

    #body {
        width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
}

/*media query for tablets and larger items , hides elements, set position  relative, remove box shadow,set swidth to fit content, set right padding*/
@media screen and (min-width:768px) and (min-width: 992px) {
    header#main {

        background-position: center;
        background-size: cover;
    }

    #section1 {
        height: auto;
        width: 40%;
    }

    .paragraph {
        font-size: 1rem;
        line-height: 1.6;
    }

    header#main {
        margin-bottom: 1rem;
    }

    #body {
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;

    }
}